@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fedfff;
  --color-secondary: #6eeaba;
  --color-background: #30293D;
}

.light-theme {
  --color-primary: #18543d;
  --color-secondary: #fedfff;
  --color-background: #c0d0e2;
}

* {
  color: var(--color-primary);
}

h1 {
  @apply text-5xl font-bold mb-2;
}

h2 {
  @apply text-4xl font-bold mb-2;
}

h3 {
  @apply text-3xl font-bold mb-2;
}

p {
  @apply mb-2;
}

ul {
  @apply list-disc list-inside m-2;
}

ol {
  @apply list-decimal list-inside m-0;
}